<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>update User Details</title>
</head>
<body>
	<div>
    	<h1>Update User Details </h1> 
        <form action="" th:method="PUT">
	    <label for="name">Name:</label>
	    <input type="text" name="name" th:value="${user.name}">
	    <br />
	    <label for="email">Email:</label>
	    <input type="text" name="email" th:value="${user.email}">
	    <br />
	    <button type="submit">Update User</button>
    </div>
    <div>
    	<h1>Address List</h1>
	    <table>
	        <tr>
	        	<th>id</th>
	            <th>Street</th>
	            <th>City</th>
	            <th></th>
	            <th></th>
	        </tr>
	        <tr th:each="address : ${user.addresses}">
	        	<td th:text="${address.id}"></td>
	            <td th:text="${address.street}"></td>
	            <td th:text="${address.city}"></td>
	            <td><a th:href="@{/users/{userId}/address/{addressId} (userId=${user.id}, addressId=${address.id})}">Edit</a></td>					            
	            <td>
				    <a th:href="@{/users/{userId}/address/{addressId}/delete(userId=${user.id}, addressId=${address.id})}" 
						   th:data-method="DELETE">Delete</a>
				</td>
	        </tr>
	    </table>
	    <br>
    	<a th:href="@{/users/{userId}/address (userId=${user.id})}">Add New Address</a>
    </div>
</body>
</html>
