 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{/users/{userId}(userId=${user.id})}">View</a>
                <a th:href="@{/edit/{email}(email=${user.email})}">Edit</a>
                <a th:href="@{/delete/{email}(email=${user.email})}">Delete</a>
            </td>
        </tr>
    </table>
    <br>
    <a th:href="@{/userform}">Add New User</a>
</body>
</html>
 